<ul class="collection">

  <li class="collection-item collection-seo">
    <div class="row valign">
      <div class="row left-align">
        <span>
          <b class="text-seo">[[nameCountry]]</b> -
          <b class="text-seo">[[nameProvince]]</b> -
          <b class="text-seo">[[nameParty]]</b> -
          <b class="text-seo">[[nameCity]]</b>
        </span>
      </div>
    </div>
  </li>

  <li class="collection-item collection-seo">
    <div class="row valign ">
      <div class="Aligner-seo">
        <div class="Aligner-item Aligner-item--top"><i class="mdi-hardware-keyboard-arrow-down i-seo"></i></div>
        <div class="Aligner-item"><span translate="seo_services_whatareyoulookingfor_label"><b></b></span></div>
      </div>
    </div>
  </li>

  <div class="icon-seo">
    <div class="">
      <table class="highlight centered">
        <div class="row">
          <div ng-hide=friendlys>
            <div class="col s6 m6 l6 grid-seo tooltip" ng-repeat='s in services'>
              <a class="services-seo" href="#/pais/[[nameCountry]]/provincia/[[nameProvince]]/partido/[[nameParty]]/ciudad/[[nameCity]]/servicio/[[s.code]]">
                <div class="center promo">
                  <img class="home-icon-responsive" src="images/[[s.icon]]">
                  <p class="item-seo" translate="[[s.title]]"></p>
                  <div class="tooltiptext tooltip-bottom" translate="[[s.code]]_short_desc"></div>
                </div>
              </a>
            </div>
          </div>
          <div ng-show=friendlys>
            <div class="col s6 m6 l6 grid-seo tooltip" ng-repeat='s in services'>
              <a class="services-seo" href="#/pais/[[nameCountry]]/provincia/[[nameProvince]]/partido/[[nameParty]]/ciudad/[[nameCity]]/servicio/[[s.code_friendly]]">
                <div class="center promo">
                  <img class="home-icon-responsive" src="images/[[s.icon_friendly]]">
                  <p class="item-seo" translate="[[s.title]]"></p>
                  <div class="tooltiptext tooltip-bottom" translate="[[s.code]]_short_desc"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col s12 m12 l12 grid-seo tooltip mb-3" class="collection-item avatar">
            <a class="services-seo btn" id="friendly_button" ng-click="friendlys = !friendlys" ng-class="{'btn-hover': friendlys, 'btn-no-hover':!friendlys }">
              <div class="center promo">
                <img class="home-icon-responsive" src="images/adolescente.svg">
                <p class="item-seo" translate="friendly_service_label"></p>
                <div class="tooltiptext tooltip-bottom" translate="friendly_service_short_desc"></div>
              </div>
            </a>
          </div>    
        </div>
      </table>
    </div>
  </div>

</ul>